---
layout: default
menu: lightnovel
---
<article class="uk-article">

	<h1 class="uk-article-title"><a href="{{ page.url }}">라이트노벨</a></h1>
	
	<div class="post-content uk-text-justify">예시</div>

</article>