---
layout: default
title: AlphaFactory
---
<div id="home">	
	<div class="uk-alert uk-alert-danger"><i class="uk-icon-check-square-o"></i> 곧 반납하셔야 할 책이 1권 있습니다.</div>
	<h1 class="uk-article-title">News</h1>
	<p class="uk-article-meta">입고 정보입니다</p>
	
	<div class="uk-grid uk-margin-bottom">
		<div class="uk-width-medium-3-10">
			<img src="/assets/img/bookcover.jpg">
		</div>
		<div class="uk-width-medium-7-10">
			<h2>암살교실 10 <span style="color: #999; font-size: 0.5em">도둑의 시간</span></h2>
			<p style="line-height: 1.5em; margin-left: 5px; margin-top: -10px; color: #999; font-size: 0.8em">
				Yusei Matsui 지음 | 서현아 옮김 | 학산문화사 | 2014년 10월 25일 출간<br />
				ISBN 9791125602323
			</p>
			<p style="line-height: 2em;">
				<i class="uk-icon-crosshairs"></i> 도서 위치 : 5번째 열 7번째 칸<br />
				<i class="uk-icon-tasks"></i> 대여 상태 : <span class="uk-badge uk-badge-danger">대여중</span> <br/>
				<i class="uk-icon-thumbs-o-up"></i> 동아리 내 평점 : <i class="uk-icon-star"></i><i class="uk-icon-star"></i><i class="uk-icon-star"></i><i class="uk-icon-star"></i><i class="uk-icon-star-half-o"></i>
			</p>
			<div class="uk-container-center uk-text-right">
			<button class="uk-button" type="button" disabled>대여하기</button>
			<button class="uk-button uk-button-success" type="button">평가하기</button>
			</div>
		</div>
	</div>
	<div class="uk-container-center uk-text-center">
		<button class="uk-button" type="button">입고 정보 더 보기</button>	
	</div>



	<hr class="uk-article-divider">



	<h1 class="uk-article-title">Noitamina Feed</h1>
	<p class="uk-article-meta">노이타미나 회원들의 활동 기록입니다</p>
	<article class="uk-comment uk-comment-primary">
		<header class="uk-comment-header">
			<img class="uk-comment-avatar uk-border-rounded" src="/assets/img/placeholder_avatar.svg" width="50" height="50" alt="">
			<h4 class="uk-comment-title">김현성님이 "암살교실" 만화책을 기증하셨습니다.</h4>
			<div class="uk-comment-meta">오늘 | 기증 권수 : 10권</div>
		</header>
	</article>	
	<article class="uk-comment">
		<header class="uk-comment-header">
			<img class="uk-comment-avatar uk-border-rounded" src="/assets/img/placeholder_avatar.svg" width="50" height="50" alt="">
			<h4 class="uk-comment-title">김수현님이 "페이트 스테이 나이트" 만화책을 대여하셨습니다.</h4>
			<div class="uk-comment-meta">1일 전 | 대여한 권수 : 4~6권</div>
		</header>
	</article>	  
	<article class="uk-comment">
		<header class="uk-comment-header">
			<img class="uk-comment-avatar uk-border-rounded" src="/assets/img/placeholder_avatar.svg" width="50" height="50" alt="">
			<h4 class="uk-comment-title">김남훈님이 "히나마츠리" 만화책을 기증하셨습니다.</h4>
			<div class="uk-comment-meta">1일 전 | 기증 권수 : 1, 2권</div>
		</header>
	</article>
	<article class="uk-comment">
		<header class="uk-comment-header">
			<img class="uk-comment-avatar uk-border-rounded" src="/assets/img/placeholder_avatar.svg" width="50" height="50" alt="">
			<h4 class="uk-comment-title">김남훈님이 "4월은 너의 거짓말" 만화책을 기증하셨습니다.</h4>
			<div class="uk-comment-meta">1일 전 | 기증 권수 : 3~8권</div>
		</header>
	</article>
	<article class="uk-comment">
		<header class="uk-comment-header">
			<img class="uk-comment-avatar uk-border-rounded" src="/assets/img/placeholder_avatar.svg" width="50" height="50" alt="">
			<h4 class="uk-comment-title">윤현식님이 "노라가미" 만화책을 반납하셨습니다.</h4>
			<div class="uk-comment-meta">2일 전 | 대여한 권수 : 1~3권</div>
		</header>
	</article>
	<div class="uk-container-center uk-text-center">
		<button class="uk-button" type="button">피드 더 보기</button>	
	</div>	
</div>