---
layout: default
menu: animation
---
<article class="uk-article">
	<form class="uk-form">
		<fieldset data-uk-margin>
			<input type="text" placeholder="" class="uk-width-1-1">
		</fieldset>
	</form>
	

	<div class="post-content uk-text-justify">예시</div>

</article>