<div class="uk-panel uk-panel-box" data-uk-sticky="{ top:30, target: true }">
	<h3 class="uk-panel-title"><i class="uk-icon-archive"></i> Archives</h3>
	<ul class="uk-nav uk-nav-side uk-nav-parent-icon"  data-uk-nav>
		{% if site.posts %}

		{% for post in site.posts %}

		{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
		{% capture month %}{{ post.date | date: '%m' }}{% endcapture %}

		{% capture nyear %}{{ post.previous.date | date: '%Y' }}{% endcapture %}
		{% capture nmonth %}{{ post.previous.date | date: '%m' }}{% endcapture %}

		{% if forloop.index == 1 %}
		<li class="uk-parent">
			<a href="#">{{ year }}</a>
			<ul class="uk-nav-sub">
				{% endif %}

				{% if month != nmonth %}
				<li><a href="#">{{ post.date | date: '%B' }}</a></li>
				{% else %}
				{% if forloop.index == 1 %}
				<li><a href="#">{{ post.date | date: '%B' }}</a></li>
				{% endif %}
				{% endif %}

				{% if year != nyear%}
			</ul>
		</li>
		{% if nyear != empty %}
		<li class="uk-parent">
			<a href="#">{{ nyear }}</a>
			<ul class="uk-nav-sub">
				{% endif %}	
				{% endif %}


				{% endfor %}

				{% endif %}
			</ul>
		</div>