.captionjs {
	line-height: 0;
}
.captionjs figcaption {
	line-height: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;
	width: 100%;
}
.captionjs.stacked,
.captionjs.animated,
.captionjs.hide {
	position: relative;
	overflow: hidden;
}
.captionjs.stacked figcaption,
.captionjs.animated figcaption,
.captionjs.hide figcaption {
	position: absolute;
}

/* Stacked mode */
.captionjs.stacked figcaption {
	bottom: 0;
}

/* Animated mode */
.captionjs.animated figcaption {
	-webkit-transition: 0.25s bottom;
	-moz-transition:    0.25s bottom;
	-ms-transition:     0.25s bottom;
	-o-transition:      0.25s bottom;
	transition:         0.25s bottom;
}
.captionjs.animated:hover figcaption {
	bottom: 0 !important;
}

/* Hide mode */
.captionjs.hide figcaption {
	-webkit-transition: 0.25s margin-bottom;
	-moz-transition:    0.25s margin-bottom;
	-ms-transition:     0.25s margin-bottom;
	-o-transition:      0.25s margin-bottom;
	transition:         0.25s margin-bottom;
}
.captionjs.hide:hover figcaption {
	margin-bottom: 0 !important;
}


.captionjs, .captionjs figcaption {
	margin: 0 auto 10px;
	padding: 0;
}
.captionjs figcaption {
	font-size: 11px;
	line-height: 1.5;
	padding: 10px 15px;
	/*border: 1px solid #ddd;
	border-top: none;*/
	color: #586e75;
	text-align: justify;
}
.captionjs.stacked figcaption {
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	border: none;
}
.captionjs.animated figcaption {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	border: none;
}
.captionjs.hide figcaption {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	border: none;
}

