.af-topbar{
	padding: 20px 0;
	background-color: #222;
}

.af-topbar .uk-navbar-toggle {
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 0 0 #222;
}

.af-topbar .uk-navbar-brand {
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 0 0 #222;
}

.af-topbar .uk-navbar-nav > li > a{
	color: #666;
	text-shadow: 0 0 0 #222;
	margin-left: 5px;
}

.af-topbar .uk-navbar-nav > li.uk-active > a{
	color:#FFF;
	background: #0077dd;
	border-radius: 3px !important;
}

.af-topbar .uk-navbar-nav > li > a:hover,
.af-topbar .uk-navbar-nav > li > a:focus{
	color: #EEE;
	background: #222;
}

.af-topbar .uk-navbar-nav > li.uk-active > a:hover,
.af-topbar .uk-navbar-nav > li.uk-active > a:focus{
	color:#FFF;
	background: #0077dd;
	border-radius: 3px !important;
}

.af-bottombar{
	background-color: #222;
	padding: 20px 0;
}

.af-bottombar .uk-panel-header .uk-panel-title{
	padding-bottom: 10px;
	border-bottom: 1px solid #555;
	color: #DDD;
}

.af-bottombar .uk-nav > li > a{
	color: #999;
	text-shadow: 0 0 0 #222;
	line-height: 1.3em;
}

.af-bottombar .uk-nav > li > a > span{
	color: #666;
	font-size: 0.85em;
}

.af-bottombar .uk-nav > li > a:hover,
.af-bottombar .uk-nav > li > a:focus
{
	background: #222;
	color: #fff;
	text-shadow: 0 0 0 #222;
}