---
layout: default
menu: comics
---
<article class="uk-article">

	<h1 class="uk-article-title"><a href="{{ page.url }}">만화책</a></h1>
	
	<div class="post-content uk-text-justify">예시</div>

</article>