---
layout: default
---
<article class="uk-article uk-text-justify">
	
	<h1 class="uk-article-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
	<p class="uk-article-meta">Posted on {{ page.date | date: "%b %d, %Y" }}</p>

	{% if page.image %}
	<p><img class="featured" src="{{ page.image }}"></p>
	{% endif %}

	<p><a class="uk-button uk-button-primary uk-align-center" href="{{ page.link }}">{{ page.linktext }}</a></p>

	{{ content }}

	{% include comment.html %}

</article>